.card-header {
  max-width: 300px;
  margin: 2em auto;
  display: block;
}

.card-header [slot='header'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header sl-icon-button {
  font-size: var(--sl-font-size-medium);
}
